<!DOCTYPE html>
<html lang="en">
<head>
    <title>用户编辑</title>
</head>
<style>
    .invalid {
        color: red;
    }
</style>
<script type="text/javascript" src="../../../resources/js/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../../resources/util/jquery.serializejson.js"></script>
<script type="text/javascript" src="../../../resources/util/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../../resources/js/vue_v2.6.10/vue.min.js"></script>
<script type="text/javascript" src="../../../resources/js/vue_v2.6.10/axios.min.js"></script>
<script type="text/javascript" src="../../../resources/util/config_url.js"></script>
<script type="text/javascript" src="../../../resources/util/util.js"></script>
<script type="text/javascript">
    var userId;
    var vueEdit;
    var editType;
    $(document).ready(function () {
        userId = getUrlParam('userId');
        if (userId != null && userId != undefined && userId != "") {
            editType = "edit";
        } else {
            editType = "add";
        }
        vueEdit = new Vue({
            el: '#div_data',
            data: {baseUserVO:{},userTypeList:{},sexList:{}},
            created: function() {
                this.editDataLoad();
            },
            methods: {
                editDataLoad() {
                    axios.post(url_base_code_selectList,
                        JSON.stringify({"codeType": "user_type_id"}),
                        {headers: {'Content-Type': 'application/json;charset=utf-8'}})
                        .then(function (userTypeList) {
                            vueEdit.userTypeList = userTypeList.data;
                            vueEdit.baseUserVO.userTypeId = 2;
                        })
                        .catch(function (error) {
                        });

                    axios.post(url_base_code_selectList,
                        JSON.stringify({"codeType": "sex_id"}),
                        {headers: {'Content-Type': 'application/json;charset=utf-8'}})
                        .then(function (sexList) {
                            vueEdit.sexList = sexList.data;
                            vueEdit.baseUserVO.sexId = 1;
                        })
                        .catch(function (error) {
                        });

                    if ("edit" == editType) {
                        axios.post(url_base_user_selectOne,
                            JSON.stringify({"userId": userId}),
                            {headers: {'Content-Type': 'application/json;charset=utf-8'}})
                            .then(function (baseUserVO) {
                                vueEdit.baseUserVO = baseUserVO.data;
                                vueEdit.baseUserVO.birthday = timestampToDate(vueEdit.baseUserVO.birthday);
                                vueEdit.$options.methods.resetModifyMark();
                            })
                            .catch(function (error) {
                            });
                    } else {
                        this.baseUserVO = {};
                        this.baseUserVO.userTypeId = 2;
                        this.baseUserVO.sexId = 1;
                        this.resetModifyMark();
                    }
                },
                resetModifyMark() {
                    $("#frm_sub").data("changed", false);
                    $("#frm_sub :input").change(function () {
                        $("#frm_sub").data("changed", true);
                    });
                    $("#frm_sub").validate().resetForm();
                },
                cancel() {
                    // alert($("#frm_sub").data("changed"));
                    // return ;
                    if ($("#frm_sub").data("changed")) {
                        if (!confirm("是否取消已修改内容?")) {
                            return;
                        }
                    }
                    window.parent.jQuery('#div_edit').dialog('close');
                },
                save() {
                    if (!$("#frm_sub").validate().form()) {
                        return;
                    }

                    axios.post(url_base_user_save,
                        JSON.stringify($('#frm_sub').serializeJSON()),
                        {headers: {'Content-Type': 'application/json;charset=utf-8'}})
                        .then(function (operResult) {
                            if (operResult.data.flag) {
                                alert("保存成功");

                                window.parent.vueList.$options.methods.cx(window.parent.vueList.pager.currPage);
                                window.parent.jQuery('#div_edit').dialog('close');
                            } else {
                                alert(operResult.msg);
                            }
                        })
                        .catch(function (error) {
                        });
                },
            }
        });

        $("#frm_sub").validate({
            rules: {
                userName: {
                    required: true
                },
                userTypeId: {
                    required: true
                },
                sexId: {
                    required: true
                },
                tel: {
                    required: true,
                    remote: {
                        type: "POST",
                        url: url_base_user_noExist,
                        data: {
                            tel: function () {
                                return $("#tel").val();
                            },userId:userId
                        }
                    }
                },
                email: {
                    required: true,
                    remote: {
                        type: "POST",
                        url: url_base_user_noExist,
                        data: {
                            email: function () {
                                return $("#email").val();
                            },userId:userId
                        }
                    }
                }
            },
            messages:
                {
                    userName: {
                        required: "请输入名称"
                    }
                    ,
                    userTypeId: {
                        required: "请选择类型"
                    }
                    ,
                    sexId: {
                        required: "请选择性别"
                    }
                    ,
                    tel: {
                        required: "请输入电话",
                        remote:
                            "该电话已存在"
                    }
                    ,
                    email: {
                        required: "请输入email",
                        remote:
                            "该邮箱已存在"
                    }
                }
            ,
            // onfocusout: function(element) {
            //     $(element).valid();
            //     },
            focusInvalid: true,
            focusCleanup:
                true,
            errorClass:
                "invalid"
        });
    });

</script>
<body>
<div id="div_data">
<div>
    <button v-on:click="editDataLoad()">重置</button>
    <button v-on:click="save()">保存</button>
    <button v-on:click="cancel()">取消</button>
</div>
<form id="frm_sub" method="post" action="${pageContext.request.contextPath}/base/user/save.do">
    <table>
        <tr>
            <td><input type="hidden" id="userId" name="userId" v-model="baseUserVO.userId"></td>
        </tr>
        <tr>
            <td>名称*：<input type="text" id="userName" name="userName" v-model="baseUserVO.userName"/></td>
            <td>类型*：
                <select id="userTypeId" name="userTypeId" v-model="baseUserVO.userTypeId">
                    <option :value="userType.codeId" v-for="userType in userTypeList" >{{userType.codeName}}</option>
                </select>
            </td>
            <td>性别*：
                <select id="sexId" name="sexId" v-model="baseUserVO.sexId">
                    <option :value="sex.codeId" v-for="sex in sexList" >{{sex.codeName}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>出生日期：<input type="date" id="birthday" name="birthday" v-model="baseUserVO.birthday"/></td>
            <td>电话*：<input type="text" id="tel" name="tel" v-model="baseUserVO.tel"/></td>
            <td>email*：<input type="text" id="email" name="email" v-model="baseUserVO.email"/></td>
        </tr>
        <tr>
            <td colspan="3">备注：<input type="text" id="remark" name="remark" v-model="baseUserVO.remark"/></td>
        </tr>
    </table>
</form>
</div>
</body>
</html>
