<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<script type="text/javascript" src="../../resources/js/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../resources/util/config.js"></script>
<link rel="stylesheet" href="../../resources/util/jquery-ui-1.12.1.custom/jquery-ui.css">
<script type="text/javascript">
    $(document).ready(function() {
        // alert("sss");
        cx();
        // alert('fff6');
    });

    function cx() {
        query(1, 5);
    }

    function query(currPage, pageSize) {
        var userName = $("#ipt_userName").val();
        // alert(userName);
        reloadData(userName, currPage, pageSize);
    }

    function reloadData(userName, currPage, pageSize) {
        // $("#table_data tr:not(:first)").empty("");
        // $("#table_data tr").html("");
        // $("#div_pager").html("");
        // alert('ddd');
        // alert(domain);
        // return;
        $.ajax({
            type:"POST",
            //url:"${pageContext.request.contextPath}/base/user/selectPager.do",
            url:url_user_selectPager,
            data:JSON.stringify({"userName":userName, "pager":{"currPage":currPage, "pageSize":pageSize}}),
            contentType:'application/json;charset=utf-8',
            dataType: "json",
            success:function(pager){
                alert('读取成功');
                // fillData(pager);
                // $("#table_data tr:not(:first)").empty("");
                // $("#table_data tr").append("<td>22</td>");
                // fillPager(pager);
            },
            error:function(data){
                alert("加载失败11");
            }
        });

    }
</script>
<body>
<input type="text" id="ipt_userName" name="ipt_userName">
内容1113335566677788
</body>
</html>